<div class="tint-overlay-2">
	<div class="rss-feed">
		<h1>Favorites</h1>
		<dl>
		<% @favorites.each do |fav| %>
			<dt>
				<form class="form-group" action="/favorites/<%= fav.id %>" method="POST">
		      <input type="hidden" name="_method" value="delete" />
		      <button class="btn btn-default btn-xs" style="display: inline;" type="submit"><i class="fa fa-trash"></i></button>
		      <span><a href="<%= fav.link %>"><%= fav.title %></a></span>
		    </form>
		
			</dt>
		<% end %>
		</dl>
	</div>
</div>



