<div class="tint-overlay-2">
  <div class="rss-feed">
    <h1>Sources</h1>
    
    <form class="form-group" action="/sources" method="POST">
      <input type="text" name="source[url]"/>
      <button class="btn btn-default btn-sm" style="display: inline;" type="submit">Add Source</button>
    </form>

    <dl>
      <% @sources.each do |source| %>
        <dt>
          <form class="form-group source" action="/sources/<%= source.id %>" method="POST">
            <input type="hidden" name="_method" value="delete" />
            <button class="btn btn-default btn-xs" style="display: inline;" type="submit"><i class="fa fa-trash"></i></button>
            <span><a href="<%= source.url %>"><%= source.url %></a></span>
          </form>
        </dt>
      <% end %>
    </dl>

    <h1>Feed</h1>

    <dl>

      <% @items.each do |item| %>
        <dt>
          <form class="form-group" action="/favorites" method="POST">
            <input type="hidden" name="favorite[title]" value="<%= item[:title] %>" />
            <input type="hidden" name="favorite[link]" value="<%= item[:link] %>" />
            <% if !@favorites.include?(item[:title]) %>
              <button class="btn btn-default btn-xs" style="display: inline;" type="submit"><i class="fa fa-star-o"></i></button>
            <% else %>
              <button class="btn btn-default btn-xs" type="button" disabled><i class="fa fa-star"></i></button>
            <% end %>   
            <span><a href="<%= item[:link] %>"><%= item[:title] %></a></span>
          </form>
          
        </dt> 
      <% end %>
      
    </dl>

    
  </div>
</div>