<!DOCTYPE html>
<html>
  <head>
	  <meta charset="UTF-8">
		<title>RSS Aggregator</title> 

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="<%= url('/app.css') %>" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
		
	</head>

	<body>
	

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header"> 
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button> 
	      </div>           
	      <div class="collapse navbar-collapse" id="myNav">
		      
	        <ul class="nav navbar-nav navbar-right">
	        	<% if current_user %>
	          	<li><a href="/">Home</a></li>
	          	<li><a href="/favorites">Favorites</a></li>
	          	<li><a href="/sessions/destroy">Logout</a></li>
	          <% else %>
	          	<li><a href="/users/new">Sign up</a></li>
	          	<li><a href="/sessions/new">Log in</a></li>
	         	<% end %>
	        </ul>     
	      </div>          
	    </div>
		</nav>

		<div class="center">
			<div class="alert">
				<% if flash[:success] %>
			    <span style="color:#99FF00;"><%= flash[:success] %></span>
		    <% end %>
		    <% if flash[:error] %>
			    <span style="color:#FF6600;"><%= flash[:error] %></span>
		    <% end %>		    
			</div>
		</div>

		<%= yield %>

		
	</body>
</html>