<div class="tint-overlay-1">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-12  create-forms">

				<h1>Log in</h1>
				<form role="form" action="/sessions/create" method="POST">
					<div class="form-group">
				    <label for="email">Email:</label></br>
				    <input type="email" class="offset4 span4" name="email">
				  </div>
				  <div class="form-group ">
				    <label for="pwd">Password:</label></br>
				    <input type="password" class="offset4 span4" name="password">
				  </div>
				  <button class="btn btn-default" type="submit">Log in</button>
				</form>

			</div>
		</div>
	</div>
</div>
