<div class="tint-overlay-1">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-12  create-forms">

				<h1>Sign Up</h1>
				<form role="form" action="/users/create" method="POST">
					<div class="form-group">
				    <label for="email">Email:</label></br>
				    <input type="email" class="offset4 span4" name="user[email]">
				  </div>
				  <div class="form-group ">
				    <label for="pwd">Password:</label></br>
				    <input type="password" class="offset4 span4" name="user[password]">
				  </div>
				  <div class="form-group ">
				    <label for="pwd confirmation">Password Confirmation:</label></br>
				    <input type="password" class="offset4 span4" name="user[password_confirmation]">
				  </div>
				  <button class="btn btn-default" type="submit">Create User</button>
				</form>

			</div>
		</div>
	</div>
</div>

