.navbar.navbar-inverse.navbar-fixed-top {
	background: rgba(0, 0, 0, 0.4);
}

.center {
	position: fixed;
	top: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: url('https://images.unsplash.com/photo-1439390916221-371302a6218d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7b57a605eff03f165024f8a405e6b870') no-repeat center fixed;
  background-size: cover;
}

.tint-overlay-1 {
	top: 0vh;
	min-height: 100vh; 
  text-align: center;
  background: rgba(0,0,0, 0.5);
  background-size: cover;
}

.tint-overlay-2 {
	top: 0vh;
	min-height: 100vh; 
  background: rgba(0,0,0, 0.7);
  background-size: cover;
}

.create-forms {
	text-align: center;
  padding-top: 20%;
  padding-bottom: 0;
}

.create-forms h1, label {
	color: white;
}

.intro-forms .form-group input {
	width: 200px;
}

.rss-feed {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.rss-feed dl {
	max-width: 100%;
	overflow-x: hidden;

}

.rss-feed h1 {
	color: white;
}

.rss-feed a {
	color: white;
}


